:host {
    display: block;
    position: relative;

    [ionx--grid-items] {
        display: block;
        position: relative;
    }

    &[layout=flex] [ionx--grid-items] {
        display: flex;
        flex-wrap: wrap;
    }

    &[layout=block], &[layout=flex] {
        [ionx--grid-items] {
            height: auto !important;
        }
    }
}

:host([layout=masonry]) [ionx--grid-items]::slotted(*) {
    position: absolute;
    display: none;
}
