:host {
    display: block;

    ion-list {
        margin: 4px 0px;
        padding: 0px;
    }

    ion-item {
        &:last-child {
            --border-width: 0px;
        }
    }

    ion-checkbox {
        margin-right: 16px;
        margin-left: 0px;
    }

    ion-item.ionx--divider {
        ion-label {
            margin-top: 32px;
            font-weight: 500;
            font-size: small;
        }
    }
}

:host-context(ion-popover) {

    ion-content {
        --overflow: initial !important;
        height: auto !important;
        contain: content;

        ion-item ion-label {
            white-space: normal;
        }
    }

    ion-footer {
        position: sticky;
        bottom: 0px;

        ion-toolbar {
            --padding-start: 0px;
            --padding-end: 0px;
            --padding-top: 0px;
            --padding-bottom: 0px;
            --min-height: none;
            --ion-safe-area-bottom: 0px;
            --ion-safe-area-top: 0px;
            --ion-safe-area-start: 0px;
            --ion-safe-area-end: 0px;
        }

        div {
            flex: 1;
            display: flex;
        }

        ion-button {
            min-height: 44px;
            margin: 0px;
        }

        ion-button:not(:last-child) {
            font-weight: 400;
        }

        ion-button:last-child {
            font-weight: 500;
        }

        &.md {

            div {
                justify-content: flex-end;
            }

            ion-button {
                flex: none !important;
            }
        }

        &.ios {

            ion-button {
                width: 50%;
            }

            ion-button:not(:first-child) {
                border-left: var(--ionx-border-width) solid var(--ion-border-color);
            }
        }
    }
}
