@import "menu-popover";

:host {
    @include ionx-html-editor-menu-popover;

    input[type=color] {
        width: 24px;
        height: 24px;
        border: 1px solid var(--ion-border-color);
        background-color: transparent;
        margin: 0 0 0 8px;
        outline: none;
    }

    ion-button[slot=end], ion-icon[slot=end] {
        margin: 0;
    }

}
