@mixin ionx-popover-context-menu-list {
    margin: 8px 0;
    padding: 0;

    ion-item {
        --border-width: 0 0 var(--ionx-border-width) 0;
        --inner-border-width: 0;
        --inner-padding-start: 0;
        --inner-padding-end: 0;
        --padding-start: 16px;
        --padding-end: 16px;
        font-size: var(--app-font-size, var(--ionx-default-font-size));
    }

    & > ion-item.item:last-child, & > *:last-child > ion-item.item:last-child {
        --border-width: 0;
    }

    ion-list-header {
        padding: 8px 16px;
        font-size: calc(var(--ionx-default-font-size) - 3px);
        font-weight: 700;
        align-items: flex-start;
        min-height: auto;
    }

    ion-item > [slot=start] {
        margin-right: 16px;
        margin-left: 0px;
    }

    ion-item ion-radio {
        width: 1.5em;
        height: 1.5em;
    }
}
