:host {
    display: block;
    position: relative;
    margin: 8px;

    [ionx--grid-items] {
        display: block;
        position: relative;
        --grid-container-width: 100%;
    }

    &.ionx--block {
        [ionx--grid-items] {
            height: auto !important;
        }
    }
}

:host(:not(.ionx--block)) [ionx--grid-items]::slotted(*) {
    position: absolute;
    display: none;
}

:host(.ionx--block) [ionx--grid-items]::slotted(*) {
    left: unset;
    top: unset;
}
