:host {
    display: block;
    position: relative;
    margin: 8px;

    [ionx--grid-items] {
        display: block;
        position: relative;
        --grid-container-width: 100%;
    }

    [ionx--grid-items]::slotted(*) {
        position: absolute !important;
        display: none;
    }
}
