:host {
    display: flex;
    align-items: center;

    &.ionx--readonly {
        .ionx--on, .ionx--off, .ionx--default-toggle {
            display: none;
        }
    }

    .ionx--on {
        margin-left: 4px;

        &:empty {
            display: none;
        }
    }

    .ionx--off {
        margin-right: 4px;

        &:empty {
            display: none;
        }
    }

    &.ionx--interactive {
        .ionx--on {
            cursor: pointer;
        }

        .ionx--off {
            cursor: pointer;
        }
    }
}

::slotted(ion-toggle), :host ion-toggle {
    padding-inline-start: 2px;
    padding-inline-end: 2px;
}

:host-context(.item-label-stacked) {
    align-self: flex-start;
}

:host-context(.ios .item-label-stacked) {
    margin-top: 2px;
    margin-bottom: 2px;
}

ionx-form-field [slot-container="default"] > :host {
    margin-left: 16px;
    margin-right: 16px;
    min-height: 38px;
}
