ionx-data-table {
    display: block;
    overflow: auto;
    max-height: 100%;
    border: var(--ionx-border-width) solid var(--ion-border-color);
    border-radius: var(--ionx-border-radius);
    user-select: none;

    > table {
        width: 100%;
    }

    > table > tbody {
        user-select: text;
    }

    > table > tbody > tr {
        > td {
            padding: 8px;
            border: var(--ionx-border-width) solid var(--ion-border-color);

            &:first-child {
                border-left: 0;
            }

            &:last-child {
                border-right: 0;
            }
        }

        &:last-child > td {
            border-bottom: 0;
        }
    }
}
