:host {

    /**
     * @prop --form-field-invalid-color: Color of the border and label, when field control is in invalid state.
     */


    --form-field--invalid-color: var(--form-field-invalid-color, var(--ion-color-danger));
    --form-field--label-height: var(--form-field-label-height, 16px);
    --form-field--label-font-size: var(--form-field-label-font-size, 14px);

    display: block;

    > fieldset {
        border-width: var(--ionx-border-width, 1px);
        border-color: var(--ion-border-color);
        border-radius: var(--ionx-border-radius);
        border-style: solid;
        position: relative;
        min-width: auto;
        margin: 0;
        padding: 0;

        > legend {
            line-height: var(--form-field--label-height);
            margin: 0 12px;
            padding: 0 4px;
            display: flex;
            justify-items: center;
            justify-content: center;
            align-content: center;
            align-items: center;

            [slot-container=label] {
                font-weight: var(--form-field-label-font-weight, 400);
                font-size: var(--form-field--label-font-size);
            }

            [slot-container=label-end] {
                display: none;

                &:not(:empty) {
                    display: contents;
                    height: var(--form-field--label-height);
                    border-radius: var(--ionx-border-radius);
                }
            }
        }

        > [slot-container=description] {
            margin: 4px 16px 0 16px;
            font-size: calc(var(--form-field--label-font-size) - 2px);
            line-height: 1.1;

            &:empty {
                display: none;
            }
        }

        > [slot-container=placeholder] {
            margin: 16px;

            &:empty {
                display: none;
            }
        }

        > [ionx--content] {
            display: flex;

            > [slot-container=default] {
                flex: 1;
            }

            > [slot-container=start], > [slot-container=end] {
                align-self: center;

                &:empty {
                    display: none;
                }
            }
        }
    }

    > [slot-container=error], > [slot-container=hint] {
        margin: 8px 16px 0px 16px;
        font-size: calc(var(--form-field--label-font-size) - 2px);
        line-height: 1.1;

        &:empty {
            display: none;
        }
    }

    > [slot-container=error] {
        color: var(--form-field--invalid-color);
    }

    > [slot-container=hint] {
        color: rgba(var(--ion-text-color-rgb), .5);
    }

    &.ion-invalid >, &.ionx--has-error > {
        fieldset {
            border-color: var(--form-field-invalid-border-color, var(--form-field--invalid-color));
        }

        fieldset > legend [slot-container="label"] {
            color: var(--form-field-invalid-label-color, var(--form-field--invalid-color));
        }
    }
}

::slotted([slot=label-end]) {
    margin: 0 8px;
}

::slotted(ion-button[slot=label-end]) {
    height: 16px;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 0 4px;
    letter-spacing: initial;
    --padding-start: 4px;
    --padding-end: 4px;

    &.button-has-icon-only {
        --padding-start: 0;
        --padding-end: 0;
        font-size: 10px;
    }

    &:first-child {
        margin-left: 8px;
    }
}

::slotted(ion-input), ::slotted(ion-textarea) {
    --padding-start: 16px;
    --padding-end: 16px;
}

::slotted(ion-list) {
    background: transparent;
    margin: 10px 0 16px 0;
    padding: 0;

    &.list-lines-full ion-item:first-child {
        --border-width: var(--ionx-border-width) 0 var(--ionx-border-width) 0;
    }

    &:not(.list-lines-full) {
        margin-left: 16px;
        margin-right: 16px;

        ion-item {
            --inner-padding-start: 0¬;
            --inner-padding-end: 0;
            --padding-start: 0;
            --padding-end: 0;
        }

        ion-item:first-child {
            --inner-border-width: var(--ionx-border-width) 0 var(--ionx-border-width) 0;
        }
    }
}

::slotted(ionx-form-field) {
    margin: 16px;
}

::slotted(ion-toggle[slot=label-end]) {
    padding: 2px;
    height: 12px;
    width: 24px;
    --handle-width: 12px;
    --handle-height: 12px;
    --handle-max-height: 12px;

    &.ios {
        padding: 0px;
        height: 16px;
        width: 32px;
        --handle-width: 10px;
        --handle-height: 10px;
        --handle-max-height: 10px;
    }
}
