:host {
    display: inline-block;
    width: 100%;

    svg {
        display: inline-block;
        width: 100%;
        fill: var(--svg-fill-color);
        stroke: var(--svg-stroke-color);
    }

}
