@use "sass:list";
@use "sass:math";
@import "./width-breakpoints";

@mixin ionx-hide-when-media-width-breakpoint($attr-name, $prefix: "@", $breakpoints: $ionx-width-breakpoints) {

    @each $breakpoint, $widths in $breakpoints {

        &[#{$attr-name}="#{$prefix}=#{$breakpoint}"] {
            @media (min-width: list.nth($widths, 1)) and (max-width: list.nth($widths, 2)) {
                display: none;
            }
        }

        &[#{$attr-name}="#{$prefix}>=#{$breakpoint}"] {
            @media (min-width: list.nth($widths, 1)) {
                display: none;
            }
        }

        &[#{$attr-name}="#{$prefix}<=#{$breakpoint}"] {
            @media (max-width: list.nth($widths, 2)) {
                display: none;
            }
        }

        &[#{$attr-name}="#{$prefix}>#{$breakpoint}"] {
            @media (min-width: list.nth($widths, 2) + 1) {
                display: none;
            }
        }

        &[#{$attr-name}="#{$prefix}<#{$breakpoint}"] {
            @media (max-width: list.nth($widths, 1) - 1) {
                display: none;
            }
        }
    }

}
