:host {
    display: flex;
    align-items: center;
    --backdrop-color: 255, 255, 255;
    --backdrop-opacity: 0.8;

    &[fill] {
        position: absolute;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }

    &.ionx--backdrop-visible {
        background-color: rgba(var(--backdrop-color), var(--backdrop-opacity));
    }
}
