@import "~swiper/modules/navigation/navigation";

ionx-swiper-navigation {
    display: block;
    --swiper-navigation-color: #fff;

    .swiper-button-next, .swiper-button-prev {
        &.swiper-button-disabled {
            pointer-events: initial;
        }

        &:not(.swiper-button-disabled) {
            text-shadow: 0 0 6px #000;
        }
    }
}

ionx-swiper:not(.swiper-initialized) ionx-swiper-navigation,
.plt-mobile ionx-swiper-navigation.ionx--hide-on-mobile {
    display: none;
}
