@import "../../components/LoadingSkeleton/mixin";

:host {
    div[app--grid-item] {
        width: 100%;

        @media(min-width: 600px) {
            width: 50%;
        }
    }

    div[app--photo] {
        padding-bottom: 80%;
        background-position: center;
        background-size: cover;

        &.ionx-lazy-load-loading {
            @include ionx-loading-skeleton;
        }
    }
}
