:host {
    --date-time-placeholder-opacity: .5;

    position: relative;
    display: inline-flex;
    max-width: 100%;
    user-select: none;
    min-height: 38px;
    align-items: center;
    outline: none;
    cursor: pointer;

    &::-moz-focus-inner {
        border: 0;
    }

    .ionx--text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.ionx--placeholder-visible {
            opacity: var(--date-time-placeholder-opacity, .5);
        }
    }

    &.ionx--disabled {
        opacity: var(--date-time-disabled-opacity, .5);
        pointer-events: none;
    }

    &.ionx--readonly {
        opacity: 1;
        pointer-events: none;
    }

    ion-button {
        --border-radius: 100%;
        --padding-start: 4px;
        --padding-end: 4px;
        margin: 0px;
        position: absolute;
        height: 100%;
        right: 0px;
        top: 0px;
    }
}

ionx-form-field [slot-container="default"] > :host, :host-context(.item-label-stacked) {
    align-self: flex-start;
    --date-time-padding-start: 0px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    min-height: 38px;

    .ionx--text {
        max-width: calc(100% - 16px);
        flex: initial;
    }
}
