:host {
    display: block;

    ion-input {
        flex: 1;
        text-align: right;
        --padding-end: 0px;
        font-weight: 600;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance:textfield;
        }
    }

    ion-item {
        --inner-padding-start: 16px;
        --inner-padding-end: 16px;
        --padding-start: 0px;
        --padding-end: 0px;
    }

    .numeric-buttons {
        text-align: center;
        margin-left: 16px;
        margin-right: 0;

        ion-button {
            margin: 0;
            --padding-start: 2px;
            --padding-end: 2px;
        }
    }

    ion-footer {
        --border-width: 0px;

        &::before {
            display: none;
        }

        ion-toolbar {
            --border-width: 0px !important;
            --padding-start: 0px;
            --padding-end: 0px;
            --padding-top: 0px;
            --padding-bottom: 0px;
            --min-height: none;
            --ion-safe-area-bottom: 0px;
            --ion-safe-area-top: 0px;
            --ion-safe-area-start: 0px;
            --ion-safe-area-end: 0px;
        }

        div {
            flex: 1;
            display: flex;
        }

        ion-button {
            min-height: 44px;
            margin: 0px;
        }

        ion-button:not(:last-child) {
            font-weight: 400;
        }

        ion-button:last-child {
            font-weight: 500;
        }

        &.md {

            div {
                justify-content: flex-end;
            }

            ion-button {
                flex: none !important;
            }
        }

        &.ios {

            ion-button {
                width: 50%;
            }
        }
    }

}
