:host {
    position: relative;
    display: inline-flex;
    max-width: 100%;
    user-select: none;
    min-height: 38px;
    align-items: center;
    outline: none;
    cursor: pointer;

    &::-moz-focus-inner {
        border: 0;
    }

    .ionx--text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.ionx--placeholder-visible {
            opacity: var(--date-time-placeholder-opacity, .5);
        }
    }

    .ionx--icon {
        position: relative;
        width: 16px;
        height: 20px;

        .ionx--icon-inner {
            top: 50%;
            right: 0;
            margin-top: -3px;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 5px solid;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            color: currentColor;
            opacity: var(--date-time-dropdown-icon-opacity, .5);
            pointer-events: none;
        }
    }

    &[disabled] {
        opacity: var(--date-time-disabled-opacity, .5);
        pointer-events: none;
        cursor: default;
    }

    &[readonly] {
        opacity: 1;
        pointer-events: none;
        cursor: default;
    }

    ion-button {
        --padding-start: 4px;
        --padding-end: 4px;
        margin: 0 0 0 4px;
        height: auto;
    }
}

ionx-form-field [slot-container="default"] > :host, :host-context(.item-label-stacked) {
    align-self: flex-start;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    min-height: 38px;

    .ionx--text {
        max-width: calc(100% - 16px);
        flex: initial;
    }
}
