:host {
    display: block;
    position: relative;
    width: 100%;

    &[block] {
        height: auto !important;
    }
}

:host(:not([block]))::slotted(*) {
    position: absolute;
    display: none;
}
