@import "./set-prop";

[ionx-hide-when]:not([ionx-hide-when^="@"]) {
    --ionx-hide-when--display-xs: var(--ionx-width-breakpoints-xs) var(--ionx-hide-when-display, initial);
    --ionx-hide-when--display-sm: var(--ionx-width-breakpoints-sm) var(--ionx-hide-when-display, initial);
    --ionx-hide-when--display-md: var(--ionx-width-breakpoints-md) var(--ionx-hide-when-display, initial);
    --ionx-hide-when--display-lg: var(--ionx-width-breakpoints-lg) var(--ionx-hide-when-display, initial);
    --ionx-hide-when--display-xl: var(--ionx-width-breakpoints-xl) var(--ionx-hide-when-display, initial);
    --ionx-hide-when--display-xxl: var(--ionx-width-breakpoints-xxl) var(--ionx-hide-when-display, initial);
    @include ionx-width-breakpoints-set-prop("display", "ionx-hide-when--display");

    &[ionx-hide-when="=xs"] {
        --ionx-hide-when--display-xs: var(--ionx-width-breakpoints-xs) none;
    }

    &[ionx-hide-when="=sm"] {
        --ionx-hide-when--display-sm: var(--ionx-width-breakpoints-sm) none;
    }

    &[ionx-hide-when="=md"] {
        --ionx-hide-when--display-md: var(--ionx-width-breakpoints-md) none;
    }

    &[ionx-hide-when="=lg"] {
        --ionx-hide-when--display-lg: var(--ionx-width-breakpoints-lg) none;
    }

    &[ionx-hide-when="=xl"] {
        --ionx-hide-when--display-xl: var(--ionx-width-breakpoints-xl) none;
    }

    &[ionx-hide-when="=xxl"] {
        --ionx-hide-when--display-xxl: var(--ionx-width-breakpoints-xxl) none;
    }

    &[ionx-hide-when="<=xs"], &[ionx-hide-when="<sm"] {
        --ionx-hide-when--display-xs: var(--ionx-width-breakpoints-xs) none;
    }

    &[ionx-hide-when=">=xs"] {
        display: none;
    }

    &[ionx-hide-when=">=sm"], &[ionx-hide-when=">xs"] {
        --ionx-hide-when--display-sm: var(--ionx-width-breakpoints-sm) none;
        --ionx-hide-when--display-md: var(--ionx-width-breakpoints-md) none;
        --ionx-hide-when--display-lg: var(--ionx-width-breakpoints-lg) none;
        --ionx-hide-when--display-xl: var(--ionx-width-breakpoints-xl) none;
        --ionx-hide-when--display-xxl: var(--ionx-width-breakpoints-xxl) none;
    }

    &[ionx-hide-when="<=sm"], &[ionx-hide-when="<md"] {
        --ionx-hide-when--display-xs: var(--ionx-width-breakpoints-xs) none;
        --ionx-hide-when--display-sm: var(--ionx-width-breakpoints-sm) none;
    }

    &[ionx-hide-when=">=md"], &[ionx-hide-when=">sm"] {
        --ionx-hide-when--display-md: var(--ionx-width-breakpoints-md) none;
        --ionx-hide-when--display-lg: var(--ionx-width-breakpoints-lg) none;
        --ionx-hide-when--display-xl: var(--ionx-width-breakpoints-xl) none;
        --ionx-hide-when--display-xxl: var(--ionx-width-breakpoints-xxl) none;
    }

    &[ionx-hide-when="<=md"], &[ionx-hide-when="<lg"] {
        --ionx-hide-when--display-xs: var(--ionx-width-breakpoints-xs) none;
        --ionx-hide-when--display-sm: var(--ionx-width-breakpoints-sm) none;
        --ionx-hide-when--display-md: var(--ionx-width-breakpoints-md) none;
    }

    &[ionx-hide-when=">=lg"], &[ionx-hide-when=">md"] {
        --ionx-hide-when--display-lg: var(--ionx-width-breakpoints-lg) none;
        --ionx-hide-when--display-xl: var(--ionx-width-breakpoints-xl) none;
        --ionx-hide-when--display-xxl: var(--ionx-width-breakpoints-xxl) none;
    }

    &[ionx-hide-when="<=lg"], &[ionx-hide-when="<xl"] {
        --ionx-hide-when--display-xs: var(--ionx-width-breakpoints-xs) none;
        --ionx-hide-when--display-sm: var(--ionx-width-breakpoints-sm) none;
        --ionx-hide-when--display-md: var(--ionx-width-breakpoints-md) none;
        --ionx-hide-when--display-lg: var(--ionx-width-breakpoints-lg) none;
    }

    &[ionx-hide-when=">=xl"], &[ionx-hide-when=">lg"] {
        --ionx-hide-when--display-xl: var(--ionx-width-breakpoints-xl) none;
        --ionx-hide-when--display-xxl: var(--ionx-width-breakpoints-xxl) none;
    }

    &[ionx-hide-when="<=xl"], &[ionx-hide-when="<xxl"] {
        --ionx-hide-when--display-xs: var(--ionx-width-breakpoints-xs) none;
        --ionx-hide-when--display-sm: var(--ionx-width-breakpoints-sm) none;
        --ionx-hide-when--display-md: var(--ionx-width-breakpoints-md) none;
        --ionx-hide-when--display-lg: var(--ionx-width-breakpoints-lg) none;
        --ionx-hide-when--display-xl: var(--ionx-width-breakpoints-xl) none;
    }

    &[ionx-hide-when=">=xxl"], &[ionx-hide-when=">xl"] {
        --ionx-hide-when--display-xxl: var(--ionx-width-breakpoints-xxl) none;
    }

    &[ionx-hide-when="<=xxl"] {
        --ionx-hide-when--display-xs: var(--ionx-width-breakpoints-xs) none;
        --ionx-hide-when--display-sm: var(--ionx-width-breakpoints-sm) none;
        --ionx-hide-when--display-md: var(--ionx-width-breakpoints-md) none;
        --ionx-hide-when--display-lg: var(--ionx-width-breakpoints-lg) none;
        --ionx-hide-when--display-xl: var(--ionx-width-breakpoints-xl) none;
        --ionx-hide-when--display-xxl: var(--ionx-width-breakpoints-xxl) none;
    }

}
