:host {
    display: block;

    ion-toolbar {
        overflow: hidden;
        --min-height: 56px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-start: 0px;
        --padding-end: 0px;
        --border-width: 0;
        --background: var(--ionx-toolbar-background-color, var(--ion-toolbar-background, var(--ion-color-step-50, #fff)));
        --color: var(--ionx-toolbar-foreground-color, var(--ion-toolbar-color, var(--ion-text-color, #000)));
        --border-color: var(--ionx-toolbar-border-color, var(--ion-toolbar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.2)))));
    }

    ion-back-button, ion-menu-button {
        align-self: flex-start;
        min-width: 48px;
        height: 48px;
        margin: 4px 0;
    }

    .menu-button-hidden + [ionx--inner] {
        margin-left: 16px;
    }

    [ionx--inner] {
        padding: 14.8px 16px 14.8px 0;
        min-height: 56px;

        &.ionx--no-button {
            padding: 15px 16px;
        }

        h1 {
            color: var(--ionx-toolbar-title-color, var(--ion-toolbar-title-color, var(--color)));
            font-family: var(--ionx-toolbar-title-font-family, var(--ion-toolbar-title-font-family, var(--ion-font-family, inherit)));
            font-weight: var(--ionx-toolbar-title-font-weight, var(--ion-toolbar-title-font-weight, 500));
            font-size: var(--ionx-toolbar-title-font-size, var(--ion-toolbar-title-font-size, 22px));
            display: block;
            margin: 0;
            padding: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-font-smoothing: antialiased;
            letter-spacing: 0;
            line-height: 1.2;

            .md & {
                letter-spacing: 0.0125em;
            }

            .ios & {
                font-weight: var(--ionx-toolbar-title-font-weight, var(--ion-toolbar-title-font-weight, 600));
            }

            &:empty {
                display: none;
            }
        }

        ion-buttons {
            float: right;
            padding: 0;
            margin: 0;
            position: relative;
            max-height: 26px;

            &:empty {
                display: none;
            }
        }
    }

    &.ionx--title-wrap:not(.ionx--title-collapsed) {
        [ionx--inner] h1 {
            display: inline;
            white-space: normal;
            text-overflow: initial;
            overflow: auto;
        }
    }

    ::slotted([ionx--inner] ion-button) {
        margin-left: 0;
        margin-right: 0;
        --padding-start: 4px;
        --padding-end: 4px;
    }

    ::slotted([slot=title]) {
        line-height: 1.1;
    }

    ::slotted([slot=subtitle]) {
        font-size: 75%;
        font-weight: 400;

        &::before {
            content: '\A';
            white-space: pre;
        }
    }
}

:host-context(.header-ios) {
    &:last-child ion-toolbar {
        --border-width: 0;
    }
}
