:host {
    display: block;

    ion-chip {
        margin: 4px 4px 4px 0;
        height: 30px;
    }

    ion-input {
        --padding-start: 0;
        --padding-end: 0;
    }
}

:host-context(.item-label-stacked) {
    width: 100%;
}

ionx-form-field [slot-container="default"] > :host {
    margin-left: 16px;
    margin-right: 16px;
    min-height: 38px;
}
