:host {
    display: block;

    ion-chip {
        margin-left: 0px;
    }
}

:host-context(.item-label-stacked) {
    width: 100%;
}

ionx-form-field [slot-container="default"] > :host {
    margin-left: 16px;
    margin-right: 16px;
}
